# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# split panes using h and v
unbind %
bind h split-window -v
unbind '"'
bind v split-window -h

# wwitch windows using SHIFT-arrow without prefix 
bind -n S-Left  previous-window
bind -n S-Right next-window

# switch panes using Alt-arrow without prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

set -g history-limit 9999	# boost history

# display
set -g base-index 1           # start windows numbering at 1
setw -g pane-base-index 1     # make pane numbering consistent with windows

setw -g automatic-rename off   # rename window to reflect current program


